template
	li.create-list__item
		.create-list__collapce
			button.create-list__drop(data-bs-toggle="collapse" data-bs-target="#createQuestItem1" aria-expanded="false" aria-controls="createQuestItem1")
				+icon('icon-arrow-drop', 'create-list__icon', '14', '9')
			.col-auto.d-flex.align-items-center
				span.create-list__new Добавить новое
				h3.create-list__title Задание 1
				p.create-list__error Есть ошибки
					span.badge.bg-danger.ms-10 3
			button.create-list__delete.ms-auto
				+icon('icon-delete', 'create-list__icon', '24', '24')
		.collapse(id="createQuestItem1")
			.row.pt-32
				.col-12.mb-16
					.quest-create__error-message Данное полне не должно быть пустым
					.quest-create__input-box._error
						label.quest-create__label._js-create-name-label._error(for="createQuestItemName1") Название места
						input.quest-create__input._js-create-name-input._error(type="text" name="createQuestItemName1" id="createQuestItemName1" placeholder="Введите название задания")
					.quest-create__input-box
						label.quest-create__label._js-create-desk-label(for="createQuestItemDesk1") Описание действий
						textarea.quest-create__textarea._js-create-desk-textarea(type="text" name="createQuestItemDesk1" id="createQuestItemDesk1" placeholder="Введите описание задания")
					.quest-create__input-box
						label.quest-create__label._js-create-answer-label(for="createQuestItemAnswer1") Ответ
						input.quest-create__input._js-create-answer-input(type="text" name="createQuestItemAnswer1" id="createQuestItemAnswer1" placeholder="Ответ на задание")
				.col-12.mb-32
					h4.create-list__sub-title Точка на карте
					.row.create-list__point-fields
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-first-label(for="createQuestMapFirst1") Долгота
								input.quest-create__input._js-create-map-first-input(type="text" name="createQuestMapFirst1" id="createQuestMapFirst1" placeholder="59.936748")
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-second-label(for="createQuestMapSecond1") Широта
								input.quest-create__input._js-create-map-second-input(type="text" name="createQuestMapSecond1" id="createQuestMapSecond1" placeholder="30.358040")
					button.create-list__add-point
						+icon('icon-delete', 'create-list__icon', '24', '24')
						span + Добавить точку на карте
				.col-12.mb-32
					h4.create-list__sub-title Аудиофайл
					.row
						.col-12
							input.create-list__files--audio(type="file")
				.col-12.mb-32
					h4.create-list__sub-title Изображение
					.row
						.col-12
							input.create-list__files--image(type="file")
				.col-12
					button.quest-create__submit Добавить задание

ul.create-quest__list.create-list
	li.create-list__item
		.create-list__collapce
			button.create-list__drop(data-bs-toggle="collapse" data-bs-target="#createQuestItem1" aria-expanded="false" aria-controls="createQuestItem1")
				+icon('icon-arrow-drop', 'create-list__icon', '14', '9')
			h3.create-list__title Задание 122312
			button.create-list__delete.ms-auto
				+icon('icon-delete', 'create-list__icon', '24', '24')
		.collapse(id="createQuestItem1")
			.row.pt-32
				.col-12.mb-16
					.quest-create__input-box
						label.quest-create__label._js-create-name-label(for="createQuestItemName1") Название места
						input.quest-create__input._js-create-name-input(type="text" name="createQuestItemName1" id="createQuestItemName1" placeholder="Введите название задания")
					.quest-create__input-box
						label.quest-create__label._js-create-desk-label(for="createQuestItemDesk1") Описание действий
						textarea.quest-create__textarea._js-create-desk-textarea(type="text" name="createQuestItemDesk1" id="createQuestItemDesk1" placeholder="Введите описание задания")
					.quest-create__input-box
						label.quest-create__label._js-create-answer-label(for="createQuestItemAnswer1") Ответ
						input.quest-create__input._js-create-answer-input(type="text" name="createQuestItemAnswer1" id="createQuestItemAnswer1" placeholder="Ответ на задание")
				.col-12.mb-32
					h4.create-list__sub-title Точка на карте
					.row.create-list__point-fields
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-first-label(for="createQuestMapFirst1") Долгота
								input.quest-create__input._js-create-map-first-input(type="text" name="createQuestMapFirst1" id="createQuestMapFirst1" placeholder="59.936748")
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-second-label(for="createQuestMapSecond1") Широта
								input.quest-create__input._js-create-map-second-input(type="text" name="createQuestMapSecond1" id="createQuestMapSecond1" placeholder="30.358040")
					button.create-list__add-point
						+icon('icon-delete', 'create-list__icon', '24', '24')
						span + Добавить точку на карте
				.col-12.mb-32
					h4.create-list__sub-title Аудиофайл
					.row
						.col-12
							input.create-list__files--audio(type="file")
				.col-12.mb-32
					h4.create-list__sub-title Изображение
					.row
						.col-12
							input.create-list__files--image(type="file")
				.col-12
					button.quest-create__submit Сохранить задание
	li.create-list__item
		.create-list__collapce
			button.create-list__drop(data-bs-toggle="collapse" data-bs-target="#createQuestItem1" aria-expanded="false" aria-controls="createQuestItem1")
				+icon('icon-arrow-drop', 'create-list__icon', '14', '9')
			h3.create-list__title Задание 1
			button.create-list__delete.ms-auto
				+icon('icon-delete', 'create-list__icon', '24', '24')
		.collapse(id="createQuestItem1")
			.row.pt-32
				.col-12.mb-16
					.quest-create__input-box
						label.quest-create__label._js-create-name-label(for="createQuestItemName1") Название места
						input.quest-create__input._js-create-name-input(type="text" name="createQuestItemName1" id="createQuestItemName1" placeholder="Введите название задания")
					.quest-create__input-box
						label.quest-create__label._js-create-desk-label(for="createQuestItemDesk1") Описание действий
						textarea.quest-create__textarea._js-create-desk-textarea(type="text" name="createQuestItemDesk1" id="createQuestItemDesk1" placeholder="Введите описание задания")
					.quest-create__input-box
						label.quest-create__label._js-create-answer-label(for="createQuestItemAnswer1") Ответ
						input.quest-create__input._js-create-answer-input(type="text" name="createQuestItemAnswer1" id="createQuestItemAnswer1" placeholder="Ответ на задание")
				.col-12.mb-32
					h4.create-list__sub-title Точка на карте
					.row.create-list__point-fields
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-first-label(for="createQuestMapFirst1") Долгота
								input.quest-create__input._js-create-map-first-input(type="text" name="createQuestMapFirst1" id="createQuestMapFirst1" placeholder="59.936748")
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-second-label(for="createQuestMapSecond1") Широта
								input.quest-create__input._js-create-map-second-input(type="text" name="createQuestMapSecond1" id="createQuestMapSecond1" placeholder="30.358040")
					button.create-list__add-point
						+icon('icon-delete', 'create-list__icon', '24', '24')
						span + Добавить точку на карте
				.col-12.mb-32
					h4.create-list__sub-title Аудиофайл
					.row
						.col-12
							input.create-list__files--audio(type="file")
				.col-12.mb-32
					h4.create-list__sub-title Изображение
					.row
						.col-12
							input.create-list__files--image(type="file")
				.col-12
					button.quest-create__submit Сохранить задание
	li.create-list__item
		.create-list__collapce
			button.create-list__drop(data-bs-toggle="collapse" data-bs-target="#createQuestItem1" aria-expanded="false" aria-controls="createQuestItem1")
				+icon('icon-arrow-drop', 'create-list__icon', '14', '9')
			h3.create-list__title Задание 1
			button.create-list__delete.ms-auto
				+icon('icon-delete', 'create-list__icon', '24', '24')
		.collapse(id="createQuestItem1")
			.row.pt-32
				.col-12.mb-16
					.quest-create__input-box
						label.quest-create__label._js-create-name-label(for="createQuestItemName1") Название места
						input.quest-create__input._js-create-name-input(type="text" name="createQuestItemName1" id="createQuestItemName1" placeholder="Введите название задания")
					.quest-create__input-box
						label.quest-create__label._js-create-desk-label(for="createQuestItemDesk1") Описание действий
						textarea.quest-create__textarea._js-create-desk-textarea(type="text" name="createQuestItemDesk1" id="createQuestItemDesk1" placeholder="Введите описание задания")
					.quest-create__input-box
						label.quest-create__label._js-create-answer-label(for="createQuestItemAnswer1") Ответ
						input.quest-create__input._js-create-answer-input(type="text" name="createQuestItemAnswer1" id="createQuestItemAnswer1" placeholder="Ответ на задание")
				.col-12.mb-32
					h4.create-list__sub-title Точка на карте
					.row.create-list__point-fields
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-first-label(for="createQuestMapFirst1") Долгота
								input.quest-create__input._js-create-map-first-input(type="text" name="createQuestMapFirst1" id="createQuestMapFirst1" placeholder="59.936748")
						.col-6
							.quest-create__input-box
								label.quest-create__label._js-create-map-second-label(for="createQuestMapSecond1") Широта
								input.quest-create__input._js-create-map-second-input(type="text" name="createQuestMapSecond1" id="createQuestMapSecond1" placeholder="30.358040")
					button.create-list__add-point
						+icon('icon-delete', 'create-list__icon', '24', '24')
						span + Добавить точку на карте
				.col-12.mb-32
					h4.create-list__sub-title Аудиофайл
					.row
						.col-12
							input.create-list__files--audio(type="file")
				.col-12.mb-32
					h4.create-list__sub-title Изображение
					.row
						.col-12
							input.create-list__files--image(type="file")
				.col-12
					button.quest-create__submit Сохранить задание
button.create-list__add-task + Добавить задание
