.quest-header.mb-40
	h1.quest__title Создание квеста
	.dropdown.quest-header__dropdown
		button.quest-header__user-menu(type="button" id="userMenuDropdown" data-bs-toggle="dropdown" aria-expanded="false")
			+icon('icon-user', 'quest-header__icon', '20', '20')
			+icon('icon-arrow', 'quest-header__icon', '20', '20')
		ul.quest-header__user-list.user-list.dropdown-menu
			li.user-list__item
				a.user-list__link(href="#") Какой то пункт
			li.user-list__item
				a.user-list__link(href="#") Какой то пункт
