section.quest-create.quest
	.quest-container
		include quest-create-header
		.quest-create__content
			.row.mb-50
				.col-12
					h2.quest-create__sub-title.mb-32 Общая информация
				.col-12
					.quest-create__input-box
						label.quest-create__label(for="questCreateSpaceName") Название места
						input.quest-create__input(type="text" name="questCreateSpaceName" id="questCreateSpaceName" placeholder="Введите название квеста")
					.quest-create__input-box
						label.quest-create__label(for="questCreateSpaceDesk") Описание квеста
						textarea.quest-create__textarea(type="text" name="questCreateSpaceDesk" id="questCreateSpaceDesk" placeholder="Введите описание квеста")
					.quest-create__input-box
						label.quest-create__label(for="questCreateSpaceDeskLong") Длинное описание
						textarea.quest-create__textarea(type="text" name="questCreateSpaceDeskLong" id="questCreateSpaceDeskLong" placeholder="Введите описание квеста")
			.row
				.col-12
					h2.quest-create__sub-title.mb-32 Награда
				.col-12.mb-16
					.quest-create__input-box
						label.quest-create__label(for="questCreateGiftName") Название стикера
						input.quest-create__input(type="text" name="questCreateGiftName" id="questCreateGiftName" placeholder="Введите название награды")
					.quest-create__input-box
						label.quest-create__label(for="questCreateGiftText") Текст стикера
						textarea.quest-create__textarea(type="text" name="questCreateGiftText" id="questCreateGiftText" placeholder="Введите описание награды")
				.col-4.mb-60
					h3.quest-create__text Изображение
					input.quset-create__files(type="file" name="questAddImage")
			h2.quest-create__sub-title.mb-32 Задания квеста
			.row
				.col-6
					.quest-create__map
						#map(style="height:100%; width:100%;")
				.col-6
					include create-item/create-item
				.col-5.mx-auto.mt-75
					button.quest-create__submit Сохранить


