extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container-fluid.px-0
			.row.gx-0
				.col-2
					include modules/nav/main-nav
				.col-10
					include pages/create-quest/quest
